.category-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0a2e4d;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.category-card {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: scale(1.03);
}

.category-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
}

.btn_categoria {
  width: 15%;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

.up {
  display: flex;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

h2{
  color: white;
}

.modal-content {
  background: #5a7fa3; 
  padding: 20px;
  border-radius: 16px;
  max-width: 900px;
  width: 90%;
  overflow-y: auto;
  max-height: 80vh;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: #0a2e4d;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}